/* Coolors Exported Palette - coolors.co/fcfdff-ebeff4-0e1216-f0a202-f75c03 */
/* HSL */
$color1: hsla(218%, 100%, 98%, 1); $color2: hsla(212%, 52%, 94%, 1); $color3: hsla(212%, 22%, 7%, 1); $color4: hsla(40%, 98%, 47%, 1); $color5: hsla(22%, 98%, 49%, 1);

/* RGB */ $color1: rgba(252, 253, 255, 1); $color2: rgba(235, 239, 244, 1); $color3: rgba(14, 18, 22, 1); $color4: rgba(240, 162, 2, 1); $color5: rgba(247, 92, 3, 1);

$color-accent:    $color4;
$color-important: $color5;

$color-white: #f9fcff;
$color-bright: #dadfe5;
$color-dark:  #292a2b;
$color-black: #131314;

//$color-accent: #bf7f00;
