<nav class="navbar navbar-default {% if include.navclass %}{{include.navclass}}{% endif %}">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ site.baseurl }}/">MiniLinux</a>
		</div>
		<div class="navbar-collapse collapse">
			<ol class="nav navbar-nav">
			{% for menuitem in site.data.nav %}
				<li>
					<a href="{{ site.baseurl }}{{ menuitem.url }}">
						{{ menuitem.label }}
					</a>
				</li>
			{% endfor %}
			</ol>
		</div>
	</div>
</nav>
