<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if page.title %}
	<title>{{ page.title }} | MiniLinux</title>
	{% else %}
	<title>MiniLinux</title>
	{% endif %}
	<meta name="author" content="Simon Lammer">
	<meta name="description" content="Run Linux-commands in Windows OS.">

	{% comment %}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<link href="{{ site.baseurl }}/public/style/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	{% endcomment %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet" type="text/css" />

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<link rel="stylesheet" href="/public/css/ie.css" type="text/css" media="screen">
	<![endif]-->


	{% comment %}
	<script type="text/javascript"> <!-- Google-analytics -->
		/*
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-28591116-2']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		*/
	</script>
	{% endcomment %}
</head>
<body>

	<div class="container">
		{{ content }}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="{{ site.baseurl }}/public/js/application.js"></script>
</body>
</html>
